/* general */

body {
  font: 300 18px/1.5 'Roboto', sans-serif;
  color: #333;
  background: url('../images/bg.jpg') no-repeat;
  background-size: cover;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  padding: 35px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 10px;
}

.holder {
  border-bottom: 1px dashed #ccc;
  padding: 0 0 30px;
  margin: 0 0 30px;
}

.row {
  margin: 0 0 15px;
}

h2 {
  font-weight: 500;
  font-size: 30px;
  margin: 0 0 20px;
}

/* custom radio */

.customRadio input[type="radio"] {
  position: absolute;
  left: -9999px;
}

.customRadio input[type="radio"]+label {
  position: relative;
  padding: 3px 0 0 40px;
  cursor: pointer;
}

.customRadio input[type="radio"]+label:before {
  content: '';
  background: #fff;
  border: 2px solid #1cbe9d;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.customRadio input[type="radio"]+label:after {
  content: '';
  background: #1cbe9d;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
  opacity: 0;
  transform: scale(2);
  transition: transform 0.3s linear, opacity 0.3s linear;
}

.customRadio input[type="radio"]:checked+label:after {
  opacity: 1;
  transform: scale(1);
}

/* custom radio with image */

.customRadioWithImage input[type="radio"] {
  position: absolute;
  left: -9999px;
}

.customRadioWithImage input[type="radio"]+label .image {
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #333;
  border-radius: 50%;
}

.customRadioWithImage input[type="radio"]+label .image img {
  position: relative;
  border-radius: 50%;
}

.customRadioWithImage input[type="radio"]+label .image:after {
  content: '';
  border: 4px solid #1cbe9d;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scale(1.2);
  transition: transform 0.3s linear, opacity 0.3s linear;
}

.customRadioWithImage input[type="radio"]:checked+label .image:after {
  opacity: 1;
  transform: scale(1);
}

/* custom checkbox */

.customCheckbox input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.customCheckbox input[type="checkbox"]+label {
  position: relative;
  padding: 3px 0 0 40px;
  cursor: pointer;
}

.customCheckbox input[type="checkbox"]+label:before {
  content: '';
  background: #fff;
  border: 2px solid #1cbe9d;
  border-radius: 3px;
  height: 25px;
  width: 25px;
  position: absolute;
  top: 0;
  left: 0;
}

.customCheckbox input[type="checkbox"]+label:after {
  content: '';
  border-style: solid;
  border-width: 0 0 2px 2px;
  border-color: transparent transparent #1cbe9d #1cbe9d;
  width: 15px;
  height: 8px;
  position: absolute;
  top: 6px;
  left: 5px;
  opacity: 0;
  transform: scale(2) rotate(-45deg);
  transition: transform 0.3s linear, opacity 0.3s linear;
}

.customCheckbox input[type="checkbox"]:checked+label:after {
  opacity: 1;
  transform: scale(1) rotate(-45deg);
}

/* custom select */

.customSelect select {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  -webkit-appearance: none;
  padding: 0 50px 0 20px;
  cursor: pointer;
  font: 300 18px/1.5 'Roboto', sans-serif;
  text-indent: 5px;
}

.customSelect select:focus {
  outline: none;
}

.customSelect option {
  font: 300 16px/1.5 'Roboto', sans-serif;
}

.customSelect .select {
  position: relative;
  background: #fff;
  border: 1px solid #1cbe9d;
  height: 50px;
  cursor: pointer;
}

.customSelect .select:before {
  content: '';
  background: #1cbe9d;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40px;
  pointer-events: none;
}

.customSelect .select:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 7px 0;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  right: 11px;
  top: 50%;
  transform: translateY(-50%);
}

/* custom toggle switch */
.customToggle input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.customToggle label {
  border: 1px solid #ccc;
  background: #ccc;
  border-radius: 25px;
  position: relative;
  width: 80px;
  height: 36px;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  transition: background 0.3s linear;
  cursor: pointer;
}

.customToggle label:before {
  content: '';
  background: #fff;
  height: 28px;
  width: 33px;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 25px;
  transform: translateX(0);
  transition: transform 0.2s cubic-bezier(0.1, 0.8, 0.32, 1.2), background 0.2s linear;
}

.customToggle label span {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #fff;
}

.customToggle label .yes {
  display: none;
}

.customToggle label .no {
  left: auto;
  right: 10px;
  display: inline-block;
}

.customToggle input[type="checkbox"]:checked + label {
  background: #1cbe9d;
}

.customToggle input[type="checkbox"]:checked + label:before {
  transform: translateX(38px);
}

.customToggle input[type="checkbox"]:checked + label .yes {
  display: inline-block;
}

.customToggle input[type="checkbox"]:checked + label .no {
  display: none;
}